{% load static %}


<section id="about%20us">
    <div id="about-us-container">
        <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
        <h2 class="sub-title">About Us</h2>
        <div id="abt-sec" class="abt-sec">
            {% for about_section in about_sections %}
                <div id="about" class="about-card">
                    <div class="about-text">
                        <h3>{{ about_section.title }}</h3>
                        <p>{{ about_section.content }}</p>
                    </div>
                    <div class="about-image">
                        {% if about_section.image.url %}
                            <img src="{{ about_section.image.url }}" 
                                 alt="About Section Image" 
                                 onerror="this.onerror=null;this.src='{{ MEDIA_URL }}about-section-sample.png';">
                        {% else %}
                            <img src="{{ MEDIA_URL }}about-section-sample.png" alt="Default About Image">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>





