{% load static %}
<footer>
    <div class="top-bar"></div>
    <div class="main-links d-flex">
        <div class="column-1">
            {% if school.logo.url %}
                <img src="{{ school.logo.url }}" 
                    alt="Header logo" 
                    onerror="this.onerror=null;this.src='{{ MEDIA_URL }}sample_logo.png';">
            {% else %}
                <img src="{{ MEDIA_URL }}sample_logo.png" alt="Default Header Logo">
            {% endif %}

        </div>
        <!-- Column 2: Academic Programs (Dynamically pulled from links JSON) -->
        <div class="column column-2">
            <h3>Academic Programs</h3>
            <ul>
                {% for program in footer_content.links.programs %}
                <li><a href="{{ program.url }}">{{ program.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Column 3: Quick Links (Dynamically pulled from links JSON) -->
        <div class="column column-3">
            <h3>Quick Links</h3>
            <ul>
                {% for quick_link in footer_content.links.quick_links %}
                <li><a href="{{ quick_link.url }}">{{ quick_link.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

         <!-- Column 4: Downloads (Dynamically pulled from links JSON) -->
        <div class="column column-4">
            <h3>Downloads</h3>
            <ul>
                {% for download in footer_content.links.downloads %}
                <li><a href="{{ download.url }}">{{ download.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Column 5: Get in Touch (Dynamically pulled from links JSON) -->
        <div class="column column-5">
            <div>
                <h3>Get in Touch</h3>
                <ul>
                    {% for contact in footer_content.links.contact %}
                    <li><a href="{{ contact.url }}">{{ contact.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="column column-6">
            <div>
                <h3>Connect with us</h3>
                <ul class="d-flex">
                    {% for social in footer_content.social_media %}
                    <li>
                        <a href="{{ social.url }}">
                            <img src="{{ social.icon_url }}">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <!-- Footer About Text and Copyright -->
    <div class="copyright">
        <p>{{ footer_content.about_text }}</p>
        <p>Copyright (c) 2024 {{ school.name }}</p>
    </div>
</footer>