{% load static %}


<section class="hero-banner" id="home">
    <div class="image-wrap">
        {% if banner.image.url %}
        <img src="{{ banner.image.url }}" 
             alt="Hero Banner" 
             onerror="this.onerror=null;this.src='{{ MEDIA_URL }}sample_banner.jpeg';">
        {% else %}
        <img src="{{MEDIA_URL }}sample_banner.jpeg" alt="Hero Banner">
        {% endif %}
        <div class="text-overlay">
            <h2><em>{{ school.name }}</em></h2>
            <h2>{{ banner.headline }}</h2>
            <p>{{ banner.subtext }}</p>
            {% if banner.cta_link %}
            <a href="{{ banner.cta_link }}" class="btn btn-primary">{{ banner.cta_text }}</a>
            {% endif %}
        </div>
    </div>
</section>
