{% load static %}
<section id="testimonials">
    <div class="testimonial-section" id="testimonials">
        <div class="sec-inner">
            <h2 class="sub-title">User Testimonials</h2>
            <div class="slider">
                <div class="slider-wrapper">
                    {% for testimonial in testimonials %}
                        <div class="slider-card">
                            <p class="quote">"{{ testimonial.quote }}"</p>
                            <p class="author"><strong>- {{ testimonial.author }}</strong></p>
                            {% if testimonial.relation %}
                                <p class="relation"><small>({{ testimonial.relation }})</small></p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
