{% load static %}
<section class="section about-us" data-section="section2" id="about_us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>About Us</h2>
                </div>
            </div>
            <div class="col-md-12"> 
                <div id='tabs'>
                    <ul>
                        {% for tab in about_sections %}
                        
                            <li><a href="#tabs-{{ forloop.counter }}">{{ tab.title }}</a></li>
                        {% endfor %}
                    </ul>
                    <section class='tabs-content'>
                        {% for tab in about_sections %}
                            <article id='tabs-{{ forloop.counter }}'>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if tab.image.url %}
                                            <img src="{{ tab.image.url }}" 
                                                 alt="{{ tab.title }}" 
                                                 onerror="this.onerror=null;this.src='{% static 'about-section-sample.png' %}';">
                                        {% else %}
                                            <img src="{% static 'about-section-sample.png' %}" alt="{{ tab.title }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <h4>{{ tab.title }}</h4>
                                        <p>{{ tab.content }}</p>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
