{% load static %}
<header class="main-header clearfix" role="header">
  <div class="logo">
    <a class='site-logo' href='./'>
      {% if school.logo.url %}
          <img src="{{ school.logo.url }}" 
              alt="Header logo" 
              onerror="this.onerror=null;this.src='{{ MEDIA_URL }}sample_logo.png';">
      {% else %}
          <img src="{{ MEDIA_URL }}sample_logo.png" alt="Default Header Logo">
      {% endif %}

    </a>
  </div>

  <a href="#menu" class="menu-link">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
    width="40px" height="40px" viewBox="0 0 512.000000 512.000000"
    preserveAspectRatio="xMidYMid meet">
      <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
      fill="#fff" stroke="none">
        <path d="M1456 4340 c-107 -33 -185 -152 -173 -265 9 -89 61 -165 142 -208
        l40 -22 1735 0 1735 0 40 22 c92 49 139 127 140 228 0 102 -48 183 -138 232
        -30 17 -129 18 -1762 20 -952 1 -1743 -2 -1759 -7z"/>
        <path d="M200 2809 c-90 -18 -182 -113 -196 -204 -10 -67 3 -129 39 -182 42
        -62 99 -101 167 -113 37 -7 843 -9 2385 -8 2110 3 2333 5 2365 19 52 24 97 65
        128 118 23 39 27 57 27 121 0 64 -4 82 -27 121 -31 53 -76 94 -128 118 -32 15
        -254 16 -2375 17 -1325 1 -2360 -2 -2385 -7z"/>
        <path d="M2479 1266 c-222 -79 -234 -378 -19 -475 44 -20 59 -21 1246 -21
        1337 0 1256 -4 1332 69 57 56 77 104 77 186 -1 52 -6 81 -22 111 -31 58 -104
        119 -158 133 -68 17 -2407 15 -2456 -3z"/>
      </g>
    </svg>
  </a>
  <nav id="menu" class="main-nav" role="navigation">
    <ul class="main-menu">
      {% for item in navigation %}
      <li>
        {% if "news" in item.name|lower %}
        <a class="" href="#news"> {{ item.name }} </a>
        {% elif "testimonials" in item.name|lower %}
        <a class="" href="#testimonials"> {{ item.name }} </a>
        {% elif "contact us" in item.name|lower or "contact" in item.name|lower or "contact_us" in item.name|lower %}
        <div class="scroll-to-section">
          <a class="" href="#contact_us"> {{ item.name }} </a>
        </div>
        {% elif "events" in item.name|lower %}
        <a class="scroll-to-section" href="#events"> {{ item.name }} </a>
        {% elif "about us" in item.name|lower or "about" in item.name|lower %}
        <a class="scroll-to-section" href="#about_us"> {{ item.name }} </a>
        {% elif "home" in item.name|lower %}
        <a class="scroll-to-section" href="#top"> {{ item.name }} </a>
        {% else %}
        <div class="scroll-to-section">
          <a class="" href="#{{ item.name|lower }}"> {{ item.name }} </a>
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
