{% load static %}
<form action="{% url 'contact_submit' %}" method="post" autocomplete="off">
    {% csrf_token %}
    <h3 class="title">Contact us</h3>
    <div class="input-container">
        <input type="text" name="name" class="input" placeholder="Enter your username" />
    </div>
    <div class="input-container">
        <input type="email" name="email" class="input" placeholder="Enter your email" />
    </div>
    <div class="input-container">
        <input type="tel" name="phone" class="input" placeholder="Enter your phone number" />
    </div>
    <div class="input-container textarea">
        <textarea name="message" class="input" placeholder="Enter your message"></textarea>
    </div>
    <div class="input-container">
        {{ form.captcha.error }}
        {{ form.captcha }}
    </div>
    <input type="hidden" name="uuid" value="{{ school.uuid }}">
    <input type="submit" value="Send" class="btn" />
</form>