{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ school.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

    <!-- Header -->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="{{ school.logo.url }}" alt="Institute Logo">
            </a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
           
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% for item in navigation %}
                        <li class="nav-item"><a class="nav-link" href="{{ item.link }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
                <h1 class="navbar-text text-right ml-auto" >{{ school.name }}</h1>

            </div>
        </nav>
    </header>

    <!-- Banner -->
    <section class="banner" style="background-image: url('{{ banner.image.url }}');">
        <div class="container">
            <h1>{{ banner.headline }}</h1>
            <p>{{ banner.subtext }}</p>
            <a href="{{ banner.cta_link }}" class="btn btn-primary">{{ banner.cta_text }}</a>
        </div>
    </section>

    <!-- About Us -->
    <section class="about-us">
        <div class="container">
            <h2>{{ about_section.title }}</h2>
            <p>{{ about_section.content }}</p>
            <!--TODO, place image tag-->

        </div>
    </section>

    <!-- News Article -->
    <section class="news-article">
        <div class="container">
            <h2>Latest News</h2>
            {% for article in latest_news_articles %}
                <div class="article">
                    <h3>{{ article.title }}</h3>
                    <p>{{ article.summary }}</p>
                    <a href="{{ article.link }}">Read More</a>
                    <!--TODO, place image tag-->
                </div>
            {% endfor %}
            <p>---------------News Event Api----------</p>
            {% for news_event in news_events %}
                <div class="article">
                    <h3>{{ news_event.title }}</h3>
                    <p>{{ news_event.summary }}</p>
                    <p>{{ news_event.posted_as }}</p>
                    <a href="{{ article.link }}">Read More</a>
                    <!--TODO, place image tag-->
                </div>
            {% endfor %}
        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials">
        <div class="container">
            <h2>What Parents Say</h2>
            {% for testimonial in testimonials %}
                <blockquote>{{ testimonial.quote }}</blockquote>
                <p>- {{ testimonial.author }}, {{ testimonial.relation }}</p>
            {% endfor %}
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>{{ footer_content.about_text }}</p>
            <!--TODO, place links and social media-->
            <!--TODO, place school address, phone no, email-->
            <!-- Additional footer content like links and social media can be added here -->
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const primaryColor = '{{ school.primary_color }}';
        const secondaryColor = '{{ school.secondary_color }}';
    
        document.documentElement.style.setProperty('--primary-color', primaryColor);
        document.documentElement.style.setProperty('--secondary-color', secondaryColor);
    </script>
    <!-- <script src="script.js"></script> -->
</body>
</html>
